@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  src: local('SF UI Display Light'), url('./fonts/sf-ui-display-light-58646b33e0551.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500;
  src: local('SF UI Display Medium'), url('./fonts/sf-ui-display-medium-58646be638f96.woff') format('woff');
}


@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 600;
  src: local('SF UI Display Semibold'), url('./fonts/sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}


@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 700;
  src: local('SF UI Display Bold'), url('./fonts/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}


@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 800;
  src: local('SF UI Display Heavy'), url('./fonts/sf-ui-display-heavy-586470160b9e5.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  src: local('SF UI Display Thin'), url('./fonts/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
}

* {
  margin: 0px;
  padding: 0px;
  outline: 0;
}
html,.body{
  height: 100%;
  padding: 0;
  margin: 0;
}
html *{
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}
.body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  position:relative;
  color: #565656;
  background:#FFF;
  position: relative;
  min-height: 100%;
  display: flex;
}
a{
  text-decoration: none;
  color:#1d1d1d;
  transition: all 0.3s ease;
}
ul li{
  list-style-type: none;
}
a:hover{
  text-decoration: none;
}
a img {
  border: 0;
}
input{
  width: 100%;
  height: auto;
  border: none;
}
::placeholder{
color:  #a5a6a5;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  background-color: #2e4bdc;
}    
.leftbar{
width: 25%;
display: inline-block;
background: rgb(66,97,244);
background: linear-gradient(0deg, rgba(66,97,244,1) 0%, rgba(66,105,244,0.98) 84%);
padding: 50px 25px;
}
.chat{
 width: 75%;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 35px 40px;
height: 100vh;
}

.leftbar .search{
width: 100%;
background-color: #2e4bdc;
height: 40px;
border-radius: 25px;
margin-bottom: 40px;
padding: 13px 25px;
position: relative;
bottom: 12px;
  right: 15px;
}
.leftbar .search input{
background-color: #2e4bdc;
color: white;
}

.leftbar .search__icon{
display: inline-block;
width: 15px;
height: 15px;
background: no-repeat center/contain url('./images/search.svg') ;
position: absolute;
cursor: pointer;
}

.rooms_list{
padding: 0 10px;
}
.room_card{
cursor: pointer;
position: relative;
}
.room_card:not(:last-child){
margin-bottom: 35px;
}
.room_card.active:before, .room_card:not(.active):hover:before{
content: '';
left: -20px;
right: -35px;
bottom: -10px;
top: -10px;
background-color: #2e4bdc;
position: absolute;
border-bottom-left-radius: 50px;
border-top-left-radius: 50px;
}
.room_card:not(.active):hover:before{
filter: brightness(120%);
}
.user__icon{
display: inline-block;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: rgb(87, 134, 244);
margin-right: 12px;
vertical-align: middle;
position: relative;
}
.user__icon.on_mess{
position: absolute;
  bottom: 0;
}
.user__icon span{
box-sizing: border-box;
position: absolute;
width: 15px;
height: 15px;
display: block;
border: 3px solid white;
top: calc(50% - 7px);
left: calc(50% - 7px);
}
.user__icon .circle{
border-radius: 50%;
}
.user__icon .rhombus{
transform: rotateZ(45deg);
}

.user_mess .user__icon{
  display: none;
}
.room_card__name{
color: white;
display: inline-block;
position: relative;
font-size: 16px;
font-weight: 600;
}

.chat__header{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 30px;
position: relative;
}
.chat__header .title{
  font-size: 29px;
  color: #313439;
  position: relative;
  font-weight: 800;
}
.chat__header .title::before{
content: '';
height: 3px;
width: 35px;
  border-radius: 25%;
background-color: #2e4bdc;
position: absolute;
bottom: -5px;
}
.chat__header .copy_link{
color: white;
display: inline-block;
background-color: #4261f4;
border-radius: 15px;
padding: 8px 35px;
margin-right: 25px;
cursor: pointer;
font-weight: 500;
}
.chat__header .users{
cursor: pointer;
display: inline-block;
width: 35px;
height: 35px;
background: no-repeat center/contain url('./images/user.svg') ;
vertical-align: middle;
}
.users_list{
position: absolute;
max-height: 80vh;
overflow-y: scroll;
right: 23px;
  top: 80%;
width: 250px;
padding: 20px 30px;
    background-color: rgb(87, 134, 244); 
    z-index: 10;
    border-radius: 15px;
    border-top-right-radius:0;
}
.users_list .user_list_user {
color: white;
font-size: 14px;
display: flex;
justify-content: space-between;
align-items: center;
}
.users_list .user_list_user:not(:last-child){
margin-bottom: 20px;
}
.users_list .call_icon{
cursor: pointer;
display: inline-block;
width: 20px;
height: 20px;
background: no-repeat center/contain url('./images/video-call.svg') ;
vertical-align: middle;
}
.users_list .user__icon{
  background-color: #2e4bdc;
} 
.messages_section{
flex-grow: 1;
padding: 0px 5px;
}
.message_block{
max-height: calc( 100vh - 220px );
overflow-y: scroll;
}

.message_block .message.last_user_mess:not(:last-child){
margin-bottom: 30px;
}
.message{
display: flex;
justify-content: flex-end;
position: relative;
}
.message.invite{
justify-content: center;
}
.message.other{
justify-content: flex-start;
}

.message.invite .message__text{
color: #a5a6a5;
background-color: white;
}
.message__text{
padding: 20px 25px;
display: inline-block;
margin-bottom: 5px;
border-radius: 10px;
border-bottom-right-radius:0px;
background-color: #1bb66b;
color: white;
margin-right: 10px;
}

.message.other .message__text{
background-color: #eff3fc;
border-bottom-left-radius:0px;
border-bottom-right-radius:10px;
color: #63656b;
margin-left: 60px;
margin-right: 0;
}

.input_message{
  margin-top: 30px;
height: 55px;
width: 100%;
}
.input_message__block{
border-radius: 25px;
border: 1px solid #efeff7;
padding: 15px 33px;
position: relative;
}

@keyframes bounce {
from {
    transform: scale(1) rotateZ(0);
  animation-timing-function: ease-out;
}
33% {
      transform: rotateZ(-15deg) scale(1.20);
  animation-timing-function: ease-in;
}
66% {
      transform: rotateZ(25deg) scale(1.20);
  animation-timing-function: ease-in;
}
to {  
  transform: scale(1) rotateZ(0);
}
}

.input_message .send_message{
 cursor: pointer;
display: inline-block;
width: 35px;
height: 35px;
background: no-repeat center/contain url('./images/email.svg') ;
position: absolute;
  top: 5px;
  right: 15px;
 
}
.input_message .send_message:hover{
 animation: bounce 0.8s ease-in-out;
}

/* video */
.videoCall_window__bg{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 20;
}
.videoCall_window{
  position: absolute;
  z-index: 21;
  width: 80vw;
  left: 10vw;
  height: 80vh;
  top: 10vh;
  background-color: white;
}
.videoCall_window .inner{
  width: 100%;
  height: 100%;
  position: relative;
}
.userVideo{
  width: 100%;
    height: 100%;
  background-color: #eff3fc;
}
.recipVideo{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 15vw;
  background-color: #a5a6a5;
}

.hidden{
display: none;
}



/* blue #4261f4, dark-blue: #2e4bdc, green: #1bb66b; message: #eff3fc, border: #efeff7, placeholder: #a5a6a5, avatar-bg: #5a86f7; title- #313439; text - #63656b*/